/* RESET  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */
html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 80%;
    margin: 10px auto; 
}

.col-img {
    width: 100%;
    height: 130px;
    object-fit: cover;
}
/* HEADER */
header {
    height: 80px;
    margin-bottom: 20px;
}

.header-logo {
    width: 100px;
    border-right: 1px solid lightgrey;
    padding-right: 1em;
}

ul {
    list-style: none;
    padding-top: 1em;
    color: inherit;
}

li {
    display: inline-block;
    text-transform: uppercase;
    padding: 0.5em;
    color: grey;
}

/* MAIN */
.banner-container {
    position: relative;
    color: white;
    border-radius: 1em;
    overflow: hidden;
}

.with-layover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.banner-img {
    height: 350px;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
}

.banner-text {
    width: 60%;
    position: absolute;
    bottom: 5em;
    left: 3em;
}

section {
    margin-bottom: 20px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.title {
    height: 40px;
    margin-bottom: 20px;
}

h1 {
font-family: Arial, Helvetica, sans-serif;
font-size: 18px;
}

.img-container {
    position: relative;
    border-radius: 1em;
    overflow: hidden;
}

.col {
    margin-bottom: 20px;
    float: left;
}
.col-left, .col-right {
    width: 20%;
}

.col-center {
    width: calc(60% - 20px);
    margin: 0 10px;
}

/* FOOTER */
footer {
    text-align: center;
}
.heart {
    color: red;
}

